h1{
    color: blue;
}
input[type=text]{
   border-width: 5px solid;
   border-color: blue;
   padding: 5px;
   width:30%;
}
button{
    color: blue;
    background-color: black;
    border-radius: 4px;
    font-weight: bold;
}
img{
     width: 400px;
}
